:root {
  line-height: 1.5;
  font-weight: 400;
  height: 100%;
  color: black;
  background-color: #fafafa;
  font-weight: 700;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --blue: rgb(0 87 173);
  font-family: "Albert Sans", sans-serif;
}

html body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.fnt-w400 {
  font-weight: 400;
}
